[submodule "vendor/make-you-chic-ui"]
	path = vendor/make-you-chic-ui
	url = https://github.com/agwlvssainokuni/make-you-chic-ui
[submodule "vendor/java-mustache-processor"]
	path = vendor/java-mustache-processor
	url = https://github.com/agwlvssainokuni/java-mustache-processor
